*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --vdark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --lightbox-black: hsl(0, 0%, 0%); /*75% opacity*/
}

body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    padding: 1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: -1;
    width: 11em;
}

nav {
    display: none;
    order: -2;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 90vh;
    background-color: #fff;
    padding: 1rem;
    width: 70%;
    z-index: 1;
}

svg#hamburger {
    display: block;
}

svg#hamburger:hover,
nav svg {
    cursor: pointer;
}

nav ul {
    padding: 0;
    margin: 2em 0;
}

nav ul li {
    list-style: none;
    margin: 2em 0;
}
nav ul li a {
    color: var(--vdark-blue);
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    border-bottom: 2px solid var(--orange);
}

.cart-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5em;
}

.cart-block img {
    width: 30px;
    height: 30px;
}

.cart-block img:hover {
    border: 2px solid var(--orange);
    border-radius: 50px;
}

.cart-info {
    display: none;
}

.product-company {
    color: var(--orange);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 2px;
}

.product-title {
    max-width: 80%;
    font-size: 2rem;
    margin: 0;
}

.product-description {
    color: var(--dark-grayish-blue);
    line-height: 1.7;
    max-width: 95%;
}

.product-gallery {
    position: relative;
}

.slides {
    display: none;
}

.slides img {
    max-width: 100%;
}

.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    margin: -1.2em 0 0 .8em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    right: .8em;
}

.slide-navigation {
    display: none;
}

.product-content {
    padding: 0 1.5rem;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-price {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    width: 50%;
}

.old-price {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.discount-percent {
    font-size: 1rem;
    display: inline-block;
    color: var(--orange);
    background-color: var(--pale-orange);
    margin-left: 1rem;
    align-self: center;
    padding: .2em .3em;
    border-radius: 5px;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    background-color: var(--light-grayish-blue);
    border-radius: 10px;
}

.control svg:hover {
    cursor: pointer;
}

button {
    padding: 1rem 1.2rem;
    width: 100%;
    margin: 1em 0;
    border-radius: 10px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    -webkit-box-shadow: 0px 35px 35px -23px rgba(255,125,26,1);
    -moz-box-shadow: 0px 35px 35px -23px rgba(255,125,26,1);
    box-shadow: 0px 35px 35px -23px rgba(255,125,26,1);
}

button:hover {
    cursor: pointer;
}

button svg {
    fill: white;
    margin-right: 1em;
}

@media only screen and (min-width: 700px) {
    .container {
        padding: 0;
    }

    header {
        border-bottom: 1px solid var(--grayish-blue);
        max-width: 90%;
        margin: 0 auto;
    }

    main {
        max-width: 80%;
        display: flex;
        justify-content: space-between;

        margin: 5em auto;
    }

    svg#hamburger {
        display: none;
    }

    .logo {
        order: unset;
        width: unset;
    }

    nav {
        width: 65%;
        order: unset;
        position: unset;
        min-height: unset;
        background-color: #fff;
        padding: unset;
        display: block !important;
    }

    nav svg {
        display: none;
    }

    nav ul {
        display: flex;
        padding: 0 0 0 2em;
        margin: unset;
    }

    nav ul li {
        margin: 0 1.5em 0 0;
        height: inherit;
        font-size: .8rem;
    }

    nav ul li a {
        color: var(--dark-grayish-blue);
        padding: 3em 0;
        display: inline-block;
    }

    .product-gallery {
        max-width: 43%;
    }

    .product-content {
        max-width: 46%;
    }


    .prev, .next {
        display: none;
    }
    
    .slides img, .slide-navigation img {
        border-radius: 10px;
    }

    .slide-navigation {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
    }

    .slide-navigation img {
        max-width: 20%;
    }

    .active,
    .slide-navigation img:hover,
    .slide-navigation img:focus {
        opacity: 0.5;
        border: 3px solid var(--orange);
    }
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }